#list {
  height: 300px;
  width: 300px;
  border: 2px solid darkolivegreen;
  padding: 5px;
  margin-left: 10px;
  background: white;
  overflow: auto;
}

#text {
  width: 307px;
}

#input {
  margin-top: 5px;
  margin-left: 10px;
}

#main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 335px;
  height: 400px;
  background: lightpink;
  padding: 10px;  
}

/*li.active {
  background-color: blue;
}
li{
  background-color: white;
}*/

.marked {
  background-color: blue;
}

